page-login {
  .bg {
    background: color($colors, primary);
  }
  .item-round {
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .logo {
    font-size: 10em;
    color: color($colors, light);
  }
  .title {
    color: color($colors, light);
  }
}
